.character-card {
    display: flex;
    flex-wrap: wrap;
    width: 230px;
    background: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 7px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.character-card img {
    width: 200px;
    height: 205px;
}